.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}
.fighter-preview___img {
  margin: auto;
  max-height: 350px;
}

.fighter-preview___info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  background: #ffdfa7;
  margin: auto;
  padding: 0 10px;
  border: 5px solid #ca9650;
  border-radius: 5px;
  height: 30%;
}

.fighter-preview___info > div {
  text-align: center;
}
